#response {
  display: block;
  border:1px solid #e3e2e2;
  border-radius: 5px;
  min-height: 35px;
  width: 60%;
  margin-top: 18px;
  line-height: 20px;
  padding: 5px 30px;
}
#cl {
  margin-left: 30px;
}
 h3 span, h4 span {
  color: firebrick;
}
 h1 {
   text-align: center;
 }
